body {
    background: linear-gradient(
        90deg,
         rgba(2,0,36,1) 0%,
          rgba(9,9,121,1) 35%,
           rgba(0,212,255,1) 100%);
    padding: 20px;
}

h1 {
    color:rgb(86, 245, 245);
    font-family: helvetica;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}